* {
  font-family: "Poppins", sans-serif;

  box-sizing: border-box;
}
body {
  background-color: #fafafa;
  color: #333533;
  font-size: 18px;
  margin: 0;
}
a {
  text-decoration: none;
}
.header,
.container {
  display: flex;
  justify-content: center;
  padding: 45px 0;
}
.header {
  background-color: #333533;
  height: 376px;
  align-items: center;
}

.header .title {
  margin: 0 50px;
}
.header .title h1 {
  color: #ffd100;
  font-size: 56px;
  margin: 0;
  line-height: 1;
}
.header .position i {
  color: #ffd100;
  font-size: 32px;
  margin: 40px 0;
}
.position {
  color: #fafafa;
}
h2 {
  font-weight: 400;
}
ul {
  list-style: none;
  padding: 0;
}
.button {
  color: #ffd100;
  border: 1px solid #ffd100;
  border-radius: 4px;
  padding: 8px 24px;
}
.button:hover,
.button:hover i {
  background: #ffd100;
  color: #333533;
}

.button i {
  margin: 6px;
}
.lang {
  color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 12px;
  opacity: 0.7;
  align-self: self-start;
}
.lang:hover {
  opacity: 1;
}

.lang i {
  margin-right: 4px;
}
.header img {
  width: 290px;
  height: 290px;
  border-radius: 50%;
}

nav {
  width: 250px;
  font-size: 24px;
}
nav ul li {
  cursor: pointer;
}
nav li.active {
  font-weight: 600;
}
nav ul li .marker {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border: 1px solid #333533;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-right: 12px;
}
nav ul li.active .marker,
nav ul li :hover.marker {
  background-color: #333533;
  color: #ffd100;
  font-size: 22px;
}

nav ul li:not(:last-child) ::after {
  content: "";
  display: block;
  height: 48px;
  border-left: 1px dashed #333533;
  margin: 16px 0px 16px 21px;
}
.sections {
  width: 700px;
}
